*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundo{
    background: linear-gradient(rgb(126, 124, 124),white);
    background-image: url(route-66.jpg);
    background-size: cover;
    background-position: center;

}



.container div,a:hover{
    color: rgb(235, 229, 233);
}

.copyright{
    position: center;
}

.container-fluid bg-dark{
    text-align: center;
}
#container-rodape bg-dark{
    text-align: center;
}

#copyright{
    text-align: right;
}